@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!--
            @Html.DisplayNameFor(model => model.genero.Titulo)
            -->
            Genero
        </th>
        <th>
            <!--
            @Html.DisplayNameFor(model => model.titulo)
            -->
            Titulo
        </th>
        <th>
            <!--
            @Html.DisplayNameFor(model => model.descripcion)
            -->
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genero.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.isbn }) |
            @Html.ActionLink("Details", "Details", new { id=item.isbn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.isbn })
        </td>
    </tr>
}

</table>
